@mixin backImage($image){
    background: url($image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin clearfix{//clear floats
  &:before, //use the parent of this (where this was called in)
  &:after{
    content: '';
    display: table;
  }
  &:after{
    clear:both;
  }
}