#references{
 h1,h2 {
   color: $orange;
 }
  h1{
    font-size : 3em;
    font-weight : $normal;
  }
  img{
    max-width: 500px;
    width:100%;
    @include border-radius(10px); //no prefixes
  }


  @include breakpoint($small){
      #references_art {
        margin-bottom: 20px;

        p {
          font-weight: $normal;
          font-size: 1.5em;
          line-height: 110%;
        }
      }
    }
  @include breakpoint($small)
  {
    section{
      @include span(4 of 12);
      img{
        top: 50%;
        left: 50%;
        margin-left: 5%;
      }
    }
  }
  #examples{

    section {

      margin: auto;
      padding: 10px;
      h2 {
        color: $orange;
        text-align: center;
      }
      .name {
        border: 2px solid $pink;
        color: $orange;
        text-align: center;
        background-color: $darkbackground;
      }

    }

    background-color: $dxdy;
  }
#furtherinfo{
  margin-top: 30px;
  @include pad(1,1);
  text-align: center;
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange;
  color: $pink;
  margin-bottom: 30px;
}

}